{% extends 'base/base.html' %} {%block content%}
<div class="canvas">
    <div class="canvas-toolbar">
        <div class="toolbar-item toolbar-move">Move</div>
        <div class="toolbar-item toolbar-note">Add-Note</div>
        <div class="toolbar-item toolbar-note">Edit</div>
        <div class="toolbar-item toolbar-note">Delete</div>
    </div>
    <div class="canvas-word-search">
        <input type="text" placeholder="Search">
        <div class="canvas-btn-search">Search</div>
    </div>
</div>
{%endblock content%}