{% extends 'base/base.html' %} {%block content%}{% if user.is_authenticated %}

<div class="canvas" id="canvas">
    <div class="canvas-toolbar">
        <div class="toolbar-item toolbar-move">Move</div>
        <div class="toolbar-item toolbar-note">Add-Note</div>
        <div class="toolbar-item toolbar-note">Edit</div>
        <div class="toolbar-item toolbar-note">Delete</div>
    </div>
    <div id="canvas-word-search">
        <input id='search-input' class="search" type="text" placeholder="Search">
        <div onclick="catalyze()" class="canvas-btn-search">Search</div>
    </div>
</div>
<script>
    var storm = "{{storm}}";
</script>
{% else %}{%block not_authorized%} {% endblock %} {% endif %} {%endblock content%}