{% extends 'base/base.html' %} {%block content%}{% if user.is_authenticated %}

<div class="canvas" id="canvas">
    <div class="canvas-toolbar">
        <div class="toolbar-item toolbar-move">Move</div>
        <div class="toolbar-item toolbar-note">Add-Note</div>
        <div class="toolbar-item toolbar-note">Edit</div>
        <div class="toolbar-item toolbar-note">Delete</div>
    </div>

    <div id="canvas-word-search">
        <input id='search-input' class="search" type="text" placeholder="Search">
        <div onclick="catalyze()" class="canvas-btn-search">
            <i class="fas fa-search"></i>
        </div>
    </div>
</div>
<script>
    let storm = "{{storm.pk}}";
    let cloud = "{% for cluster in cloud%}{{cluster.word.name}} {% endfor %}"
    cloud = cloud.split(" ")
    cloud.pop();
    let catalyst = cloud[0];
    let rel_positions = '{{rel_positions}}'
    rel_positions = rel_positions.split(" ")
    rel_positions.pop();
</script>
{% else %}{%block not_authorized%} {% endblock %} {% endif %} {%endblock content%}