{% load static %}
<nav>
    <div class='nav-logo'><i class="nav-logo fas fa-poo-storm"></i></div>
    <div class='nav-tools'>
        {% if user.is_authenticated %}
        <div class='usr-btn btn-stormies'>
            <a href="{% url 'stormy:stormies' %}">
                <div>Stormies</div>
            </a>
        </div>
        <div class="usr-btn usr-btn-logout">
            <a href="{% url 'accounts:logout' %}">
                <div>Logout</div>
            </a>
        </div>
        <div class="usr-btn">
            <a href="{% url 'accounts:profiledetail' pk=user.id  %}">
                <img class='usr-img' src={{user.profile.img.url}}>
            </a>
        </div>

        {% endif %}
    </div>
</nav>