:root {
    --prime-bg-color: rgb(30, 33, 43);
    --secondary-bg-color: rgb(236, 117, 5);
    --third-bg-color: #4446B1;
    --prime-color: rgb(244, 244, 248);
    --secondary-color: rgb(244, 244, 248);
    --canvas-shadows: 1px 1px 18px rgba(254, 215, 102, 0.5);
    --subNode-color: rgb(236, 117, 5);
    --parentNode-color: rgba(254, 74, 73, 0.7);
    font-family: Oswald;
}