/* Main CSS File */

:root {
    --prime-bg-color: lightgray;
    --secondary-bg-color: darkgray;
    --prime-color: darkblue;
    --secondary-color: white;
    --canvas-shadows: 8px 8px 24px black;
}

body {
    margin: 0px;
}

main {
    margin-top: 4em;
    background-color: var(--prime-bg-color);
}

nav>.nav-tools {
    position: fixed;
    top: 1em;
    left: 90%;
    width: 5em;
    background-color: var(--secondary-bg-color);
    border-radius: 40px;
}

.nav-logo {
    position: fixed;
    top: 1em;
    left: 1em;
}

.nav-tools>.usr-img {
    width: 5em;
    height: 5em;
    border-radius: 25%;
    border: 0.1em solid var(--prime-color)
}

.login-container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 80%;
    height: 24em;
}

.login {
    display: flex;
    background-color: beige;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.signup {
    display: flex;
    background-color: turquoise;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.usr-btn {
    height: 3em;
    width: 3em;
    border: 1px solid white;
    background-color: var(--secondary-bg-color);
}

.usr-input-field {
    margin: 0.5em;
}

#canvas {
    margin: 0;
    position: static;
    width: 100vh;
    height: 100vh;
    text-align: center;
}

.canvas-toolbar {
    position: fixed;
    right: 2em;
    height: 4em;
    margin-top: 15%;
    min-height: 4em;
    width: 3em;
    background-color: var(--secondary-bg-color)
}

#canvas {
    width: 100%
}

.subNode {
    height: 1.5em;
    width: 6em;
}

.toolbar-item {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 2.75em;
    line-height: 2.75em;
    width: 2.75em;
    border-radius: 50%;
    background-color: var(--prime-color);
    color: var(--secondary-color)
}

#canvas-word-search {
    position: fixed;
    bottom: 5em;
    right: 25%;
    left: 25%;
    text-align: center;
}

.search {
    border-radius: 2em;
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
    margin: 0px;
    box-shadow: var(--canvas-shadows)
}

.canvas-btn-search {
    border-radius: 2em;
    padding: 0.5em 0em 0.5em 0em;
    width: 4em;
    display: inline-block;
    color: var(--prime-bg-color);
    background-color: var(--prime-color);
    box-shadow: var(--canvas-shadows)
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 1em;
    background-color: var(--prime-color)
}