/* Main CSS File */

:root {
    --prime-bg-color: rgb(30, 33, 43);
    --secondary-bg-color: rgb(236, 117, 5);
    --third-bg-color: #4446B1;
    --prime-color: rgb(244, 244, 248);
    --secondary-color: rgb(244, 244, 248);
    --canvas-shadows: 1px 1px 18px rgb(236, 117, 5);
    --subNode-color: rgb(254, 215, 102);
    --parentNode-color: rgba(254, 74, 73, 0.7);
}

body {
    margin: 0px;
    background-color: var(--prime-bg-color);
}

a {
    text-decoration: none;
    color: var(--prime-color)
}

main {
    margin-top: 6em;
}

nav>.nav-tools {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    position: fixed;
    top: 1em;
    right: 1em;
    width: fit-content;
    /* background-color: var(--secondary-bg-color); */
    border-radius: 4em;
    text-align: center
}


/* .nav-tools:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 20em;
} */

.nav-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2em;
    color: linear-gradient(to bottom right, var(--secondary-bg-color), var(--parentNode-color));
}

.login-container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 80%;
    height: 24em;
}

.login {
    display: flex;
    background-color: beige;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.signup {
    display: flex;
    background-color: turquoise;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.usr-img {
    width: 3.8em;
    height: 3.8em;
    border-radius: 50%;
}

.usr-btn,
.usr-btn>img {
    position: relative;
    width: 3.8em;
    height: 3.8em;
    line-height: 4em;
    padding: 0.5em;
    border-radius: 50%;
    color: var(--parentNode-color);
    background-color: var(--secondary-bg-color);
}

.usr-btn:hover {
    /* box-shadow: 0 0 0 7px var(--third-bg-color); */
    transform: scale(1.125);
    transition: all 0.2s ease;
    background-color: var(--parentNode-color);
}

.usr-btn:hover:after {
    transform: scale(1);
    transition: all 0.2s ease;
}

.usr-btn:hover:before {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 05s ease;
    -webkit-transform: scale(0.925);
    -moz-transform: scale(0.925);
    -ms-transform: scale(0.925);
    -o-transform: scale(0.925);
    transform: scale(0.925);
    /* box-shadow: 0 0 0 1px var(--third-bg-color); */
    opacity: .5;
}

.usr-btn:focus:before {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(0.925);
    -moz-transform: scale(0.925);
    -ms-transform: scale(0.925);
    -o-transform: scale(0.925);
    transform: scale(0.925);
    box-shadow: 0 0 0 1px var(--third-bg-color);
    opacity: .5;
}


/* .usr-btn:before {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 0 1px #fff;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
} */

.usr-input-field {
    margin: 0.5em;
}

#canvas {
    margin: 0;
    position: static;
    width: 100vh;
    height: 100vh;
    text-align: center;
}

.canvas-toolbar {
    display: none;
    position: fixed;
    right: 2em;
    height: 4em;
    margin-top: 10em;
    min-height: 4em;
    width: 3em;
    background-color: var(--secondary-bg-color)
}

#canvas {
    width: 100%
}

.subNode {
    height: 1.5em;
    width: 6em;
}

.toolbar-item {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 2.75em;
    line-height: 2.75em;
    width: 2.75em;
    border-radius: 50%;
    background-color: var(--prime-color);
    color: var(--secondary-color)
}

#canvas-word-search {
    position: fixed;
    bottom: 5em;
    right: 25%;
    left: 25%;
    text-align: center;
}

.search {
    border-radius: 2em;
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
    margin: 0px;
    box-shadow: var(--canvas-shadows)
}

.canvas-btn-search {
    border-radius: 2em;
    padding: 0.5em 0em 0.5em 0em;
    width: 4em;
    display: inline-block;
    color: var(--prime-bg-color);
    background-color: var(--prime-color);
    box-shadow: var(--canvas-shadows)
}

[class*="parentNode"] {
    animation: 2s createParentNode;
    line-height: 1.5em;
    border-radius: 3em;
    color: var(--prime-color);
    background-color: var(--parentNode-color);
    box-shadow: var(--canvas-shadows);
    border: solid 0.1em var(--secondary-color)
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 1em;
    background-color: var(--prime-color)
}

@keyframes createParentNode {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}