{% extends 'base/base.html' %} {% if user.is_authenticated %} {%block content%}
<div class="user-content">
    <div style="text-align:center">
        <h2>{{user.first_name}} {{user.first_name}}</h2>
        <img src="{{user.profile.img.url}}" alt='User image' class="usr-img">
        <a class="btn" href="{% url 'accounts:profileupdate' user.profile.pk %}">
            <div class="usr-btn-detail">Edit Profile</div>
        </a>
        <a class="btn" href="{% url 'stormy:stormies' %}">
            <div class="usr-btn-stormies">Stormies</div>
        </a>
    </div>
</div>{%endblock content%} {%endif%}