{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StormyBrain</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- FONT family -->
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Oswald:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include 'partials/nav.html' %}
    <main>
        {% block content %} {% endblock content %}
    </main>
    <footer>
        <p class="reference">powered by Datamuse Api</p>
    </footer>
</body>

</html>